<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Setup</title>
    <link rel="icon" type="image/x-icon" href="/images/<%= listType %>">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Admin Setup</h1>
        <form action="/setup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required autocomplete="new-username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required autocomplete="new-password">
            <button type="submit">Create Admin User</button>
        </form>
    </div>
</body>
</html>